<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.630225542792-qijkoc7vqpgbrlbsd0r022v6t12jrfmc</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>630225542792-qijkoc7vqpgbrlbsd0r022v6t12jrfmc.apps.googleusercontent.com</string>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoibGl5YTY2IiwiYSI6ImNtMTBveHE1MDA0MnIyanMxbWEwZjBvaHoifQ.Sf3ixe6Sthi8zcYmc0HBxQ</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
